.page-container {
    /* border: 2px solid red; */
    background-color: #000000;
    min-width: 100%;
    height: 100vh;
    /* padding: 10px; */
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-template-rows: 1fr max-content;
    gap: 0px 10px;
    grid-template-areas:
    "playlist-sidebar main-content"
    "testfooter testfooter";
    overflow-y: scroll;
    padding-bottom: 90px;
}

.main-content-container {
    /* border: 2px solid blue; */
    color: white
}

.main-content-nav-container {
    /* border: 2px solid blue; */
    position: sticky;
    top: 0;
}

.main-content {
    /* border: 3px solid teal; */
}

.playlist-image-and-title-container {
    /* border: 10px solid forestgreen; */
    background: linear-gradient(to bottom, #4A348F);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 200px;
    padding: 20px;
    margin-bottom: 15px;
}

.playlist-user-details {
    /* border: 2px solid green; */
    display: flex;
    /* flex-direction: row; */
    justify-content: flex-start;
    align-items: center;
    height: 20px;
    font-size: 15px;
    margin-top: 50px;
}

.playlist-image-container {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 400px;
    overflow: hidden;
    margin-right: 15px;
    height: 250px;
    width: 250px;
}

.playlist-information-container {
    /* border: 10px solid orange; */
    color: white;
    width: 500px;
    font-size: 18px;
}

.playlist-image {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    margin-left: 30px;
}

.playlist-songs-container {
    background-color: #121212;
    color: white;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 10px;
    align-items: center;
}

.playlist-headers {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: row;
    background-color: #121212;
    color: #9E9E9E;
    align-items: center;
    padding: 0 20px;
}

.playlist-headers .hashtag-header {
    margin-left: 13px;
}

.playlist-headers .title-header {
    margin-left: 220px;
}

.playlist-headers .album-header {
    margin-left: 180px;
    /* border: 2px solid red; */
}

.playlist-headers .date-header {
    margin-left: 155px;
}

.playlist-headers .time-header {
    margin-left: 168px;
}
.individual-playlist-songs {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.individual-playlist-songs .grid-row {
    /* border: 2px solid red; */
    width: 200px;
}

.individual-playlist-songs:hover {
    background-color: #232323;
}

.individual-playlist-songs .grid-row:nth-child(1) {
    width: 50px;
}

.individual-playlist-songs .grid-row:nth-child(2) {
    width: 300px;
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
}

.playlist-user-picture {
    margin-right: 10px;
}

.clock-icon {
    width: 20px;
}

#time-info {
    /* border: 2px solid red; */
    margin-bottom: 15px
}

.play-button-playlist-container {
    /* border: 2px solid red; */
    margin-left: 10px;
    margin-right: 10px;
}


.play-playlist-button {
    background-color: #121212;
    border: #121212
}

.play-button {
    height: 40px;
    width: 40px;
    margin-left: 5px;
    margin-top: 7px;
}

.pause-button {
    height: 45px;
    width: 45px;
    margin-top: 5px;
    margin-left: 2px;
}

.search-bar-container {
    /* border: 2px solid yellow; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.playlist-song-count {
    /* border: 2px solid red; */
}

.playlist-song-count:hover {
    
}

.playlist-dropdown-button {
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    color: #A7A7A7;
}

.playlist-dropdown-button:focus {
    outline: none;
}

.playlist-update-button,
.playlist-delete,button {
    cursor: pointer;
}

.song-image-container {
    width: 50px;
    height: 50px;
}

.song-item {
    width: 250px;
    display: flex;
    flex-direction: row;
    /* border: 2px solid blue; */
    margin-left: 60px
}

.song-item p {
    margin: 0;
    max-width: 150px;
    /* border: 2px solid red; */
    display: flex;
    margin-left: 35px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.song-item img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    margin-right: 10px;
}

.album-title {
    cursor: pointer;
}

.album-title p {
    color: white;
}

.song-audio-gif {
    width: 40px;
    height: 40px;
    background-color: #121212;
}

.song-play-icon-playlist {
    width: 20px;
    height: 20px;
}