.playlist-info-container {
    padding: 20px;
}

.playlist-image-and-title-container {
    /* border: 10px solid forestgreen; */
    background: linear-gradient(to bottom, #4A348F);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 200px;
}

.playlist-information-container {
    /* border: 10px solid orange; */
    color: white;
    width: 100%;
}

.playlist-image-container {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    max-height: 250px;
    overflow: hidden;
    margin-right: 15px
}

.playlist-image {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    margin-left: 30px;
}

.playlist-headers {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #272727;
    color: #9E9E9E
}

.individual-playlist-songs {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.grid-row {
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.playlist-user-details {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 20px;
    font-size: 15px;
}

.playlist-playlist-title-container {
    /* border: 2px solid red; */
}
.playlist-user-picture {
    /* border: 2px solid green; */
    margin-right: 10px;
}

.playlist-songs-container {
    /* border:2px solid purple; */
    background-color: #272727;
    color: white;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 10px;
    align-items: center;
}

.individual-song-id {
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar-container {
    /* border: 2px solid salmon; */
    padding: 20px;
    background-color: #272727;
}


.playlist-description{
    /* border: 2px solid blue; */
    font-size: 15px;
}
