body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.create-playlist-container {
    /* border: 2px red solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 165px;
}

.create-playlist-container h1{
    /* border: 2px red solid; */
    color: white;
    margin-bottom: 20px;
}

.create-playlist-form-container {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 22rem;
    height: 34rem;
    background-color: #272727;;
}

.form-label {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 10px;
    /* border: 2px solid blue; */
}

.form-input-box {
    /* border: 2px solid red; */
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#audio {
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.playlist-create-submit-button {
    color: white;
    border-radius: 20px;
    background-color: #1DB954; 
    padding: 10px;
    margin-bottom: 20px;
}

.error-message {
    color: red;
}