

.album-container {
    /* border: 10px solid green; */
    width: 100%;
}
.individual-album-map {}

.individual-album-container{
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 20px;
}

.individual-album-container:hover {
    background-color: #232323;
}

.album-icon-container {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.album-info-container {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.album-info-top {
    font-size: 15px;
    display: flex;

}

.album-info-bottom {
    display: flex;
    flex-direction: row;
    font-size: 15px;
}


.link-no-underline {
    text-decoration: none;
    color: white
}

.album-photo {
    height: auto;
    width: 75px;
}