.page-container {
    /* border: 2px solid purple; */
    background-color: #000000;
    height: 100vh;
    padding: 10px;
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-template-rows: 1fr max-content;
    grid-template-areas:
    "playlist-sidebar main-content"
    "testfooter testfooter";
}

.playlist-sidebar {
    width: 25%;
    padding: 10px;
}

.main-content-container {
    /* border: 2px solid blue; */
    color: white;
    max-width: 100%;
}

.main-content-nav-container {
    /* border: 2px solid blue; */
    position: sticky;
    top: 0;
}

.main-content {
    border: 3px solid teal;
}

.personalized-content-container {
    border: 2px solid green;
}

.personalized-playlist {
    border: 2px solid mintcream
}

.personalized-albums {
    border: 2px solid mintcream
}

.general-content {
    border: 2px solid mintcream
}