.page-container {
    /* border: 2px solid red; */
    background-color: #000000;
    min-width: 100%;
    height: 100vh;
    /* padding: 10px; */
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-template-rows: 1fr max-content;
    gap: 0px 10px;
    overflow-y: scroll;
}

.main-content-container {
    color: white
}

.main-content-nav-container {
    position: sticky;
    top: 0;
}

.song-image-and-title-container {
    border: 10px solid forestgreen;
    background: linear-gradient(to bottom, #4A348F);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 200px;
    padding: 20px;
}

.song-user-details {
    border: 2px solid green;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 20px;
    font-size: 15px;
}

.song-image-container {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 400px;
    overflow: hidden;
    margin-right: 15px;
    height: 200px;
    width: 300px;
}


.song-information-container {
    /* border: 10px solid orange; */
    color: white;
    width: 500px;
    font-size: 25px;
}

.song-image {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    margin-left: 30px;
}

.song-songs-container {
    background-color: #121212;
    color: white;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 10px;
    align-items: center;
}



.play-button-song-container {
    /* border: 2px solid red; */
}

.play-button-song {
    background-color: #121212;
    border: none;
    height: auto;
    width: 100px
}

.play-song-button {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    width: 200px;
}

.search-bar-container {
    /* border: 2px solid yellow; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.song-song-count {
    /* border: 2px solid red; */
}

.song-song-count:hover {
    
}

.song-dropdown-button {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: #A7A7A7;
}

.song-dropdown-button:focus {
    outline: none;
}

.song-update-button,
.song-delete,button {
    cursor: pointer;
}

.song-image-container {
    width: 50px;
    height: 50px;
}

.album-title {
    cursor: pointer;
}

.album-title p {
    color: white;
}

.song-lyrics {
    border: 2px solid blue;
    color: #BABABA;
    display: flex;
    justify-content: center;
    max-width: 250px;
    text-align: left; 
    line-height: 1.6;
    word-spacing: 2px;
}
