.page-container {
    background-color: black;
    display: grid;
    grid-template-columns: 25% auto;
    gap: 10px;
    height: 100vh;
    overflow-y: auto;
}

.main-content-container {
    /* border: 2px solid blue; */
    color: white
}

.main-content-nav-container {
    /* border: 2px solid blue; */
    position: sticky;
    top: 0;
}

.main-content {
    /* border: 3px solid teal; */
}

.album-image-and-title-container {
    /* border: 10px solid forestgreen; */
    background: linear-gradient(to bottom, #4A348F);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 200px;
    padding: 20px;
}

.album-user-details {
    /* border: 2px solid green; */
    display: flex;
    /* flex-direction: row; */
    justify-content: flex-start;
    align-items: center;
    height: 20px;
    font-size: 15px;
}

.album-image-container {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 400px;
    overflow: hidden;
    margin-right: 15px;
    height: 200px;
    width: 300px;
}

.album-information-container {
    /* border: 10px solid orange; */
    color: white;
    width: 500px;
    font-size: 25px;
}

.album-image {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    margin-left: 30px;
}

.album-songs-container {
    background-color: #121212;
    color: white;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 10px;
    align-items: center;
}

.album-headers {
    /* border: 2px solid mintcream; */
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    background-color: #121212;
    color: #9E9E9E
}

.album-headers .hashtag-header {
    margin-left: 55px;
}

.album-headers .title-header {
    margin-left: 180px;
}


.album-headers .date-header {
    margin-left: 260px;
}

.album-headers .time-header {
    margin-left: 260px;
}

.individual-album-songs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.individual-album-songs:hover {
    background-color: #232323;
}

.grid-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.personalized-albums {
    /* border: 2px solid mintcream */
}

.general-content {
    /* border: 2px solid mintcream */
}

.album-user-picture {
    margin-right: 10px;
}

.play-button-albums-container {
    /* border: 2px solid red; */
}

.play-button-albums {
    background-color: #121212;
    border: none;
    height: auto;
    width: 100px
}

.play-albums-button {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    width: 200px;
}

.search-bar-container {
    /* border: 2px solid yellow; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.album-dropdown-button {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: #A7A7A7;
}

.album-dropdown-button:focus {
    outline: none;
}

.album-update-button,
.album-delete,button {
    cursor: pointer;
}

.grid-row-width {
    width: 200px;
}

.song-audio-gif {
    width: 40px;
    height: 40px;
    background-color: #121212;
}

.song-play-icon-playlist {
    width: 20px;
    height: 20px;
}


