.playlist-container {
    /* border: 2px solid green; */
}

.individual-playlist-container {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 75px
}

.playlist-icon-container {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.playlist-info-top {
    /* border: 1px solid red; */
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playlist-info-bottom {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
}

.link-no-underline {
    text-decoration: none;
    color: white
}

.playlist_image {
    width: 64px;
    height: auto;
}