.playlist-container {
    /* border: 2px solid green; */
}


.individual-playlist-container {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 20px;
}

.playlist-icon-container {
    /* border: 2px solid red; */
    display: flex;
    margin-right: 20px;
    width: 75px;
    height: 75px;
    object-fit: cover;
}

.individual-playlist-container:hover {
    background-color: #232323;
} 

.playlist-info-top {
    /* border: 1px solid red; */
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playlist-info-bottom {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

.link-no-underline {
    text-decoration: none;
    color: white
}
