a {
    text-decoration: none;
}

.playlist-tile-wrapper {
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-content: center;
    align-items: center;
    grid-gap: 15px;
    padding: 20px;
    margin-left: 37px;
}

.playlist-info-wrapper {
    padding: 10px;
}

.playlist-info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: white;
    width: 140px;
    overflow-wrap: break-word;
}

.playlist-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    margin: 0;
}


.playlist-name {
    font-weight: bold;
}

.playlist-tile-container {
    /* position: relative; */
    width: 150px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-bottom: 10px;
    height: 225px;
}

.playlist-tile-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    cursor: pointer;
}


@media (max-width: 499px) {
    .playlist-tiles-wrapper {
        width: 100%;
    }
}

@media (min-width: 900px) and (max-width: 1023px) {
    .playlist-tile-list {
        width: calc(33.33% - 20px);
        /* Three columns with a gap */
    }
}

@media (min-width: 1024px) {
    .playlist-tile-list {
        width: calc(25% - 20px);
        /* Four columns with a gap */
    }
}