/* CSS */
.landing-page-container {
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: minmax(230px, auto) 1fr; /* Sidebar width remains constant */
    background-color: black;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    height: 100vh;
    position: sticky;
    top: 0;
}

.landing-h1-container{
    display: flex;
    justify-content: space-between;
}

.log-out-container {
    margin-top: 20px;
}

.Sidebar {
    max-height: 100%;
    overflow-y: auto;
}

.soundify-playlists-container {
    /* border: 2px solid red; */
    background-color: #1a1a1a;
    padding: 10px; /* Add padding as needed */
    /* Other styles for soundify-playlists-container */
}

.landing-page-playlists-container {
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    justify-content: start;
    align-items: start;
    /* Other styles for landing-page-playlists-container */
}
