

.landing-h1 {
    color: white;
}

.landing-page-container {
    /* border: 2px solid red; */
    display: flex;
    background-color: black;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 230px;
    height: 100vh;
}

.main-content-container {
    /* border: blue 10px solid; */
    display: flex;
    flex-direction: column;
    flex: 1
    /* flex-direction: column;
    width: 75%;
    box-sizing: border-box; */
}

.landing-page-playlists-container {
    border: 2px solid red;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    justify-content: start;
    align-items: start;
}



.focus-container {
    border: 2px solid blue;
    flex: 1
}

.soundify-playlists-container,
.focus-container,
.playlists-container,
.library-container {
    background-color: #1a1a1a;
}

.home-button-container {
    margin: 5px;
}
