.nav-bar-container {
  border: 2px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-bar-left {
  border: 2px solid green;
}

.nav-bar-right {
  border: 2px solid blue
}
/* .profile-dropdown {
  position: absolute;
} */

/* .hidden {
  display: none;
} */