.sign-up-form-container {
    /* border: 2px solid red; */
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 30rem;
}

.title-container {
    /* border: 2px solid green; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.title-container h1 {
    /* border: 2px solid red; */
    color: black;
    text-align: center;
}

.form-container {
    /* border: 2px red solid; */
    height: 350px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-up-sign-up-button {
    border-radius: 40px;
    background-color:  #1DB954;
    padding: 10px;
    color: white;
    font-weight: bold;
}

.sign-up-labels {
    color: black;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-up-input {
    /* border: 2px solid blue; */
    margin-bottom: 10px;
    width: 200px;
}


.error-message {
    color: red;
}