.soundify-logo {
    width: 150px;
    height: 150px;
    /* border: 2px solid red; */
}

.top-of-side-bar {
    /* border: 2px solid blue; */
    height: 15vh;
}

.home-button-container {
    color: grey;
    height: 40px;
    cursor: pointer;
    transition: 200ms color ease-in;
    display: flex;
    justify-content: space-between;
}

.home-link, .search-link, .library-link {
    color: grey;
    text-decoration: none;
}

.home-link:hover, .search-link:hover, .library-link:hover {
    color: white;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    cursor: pointer;
}


.remaining-side-bar-container {
    /* border: 2px solid blue; */
    display: flex;;
    flex-direction: column;
    height: 100vh;
}
.side-bar-container {
    /* border: 10px purple solid; */
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: white;
    min-width: 230px;
    background-color: black;
    padding-left: 10px;
    padding-right: 10px;
    position: sticky;
    top:0;
}
.playlists-container {
    /* border: 2px solid green; */
    max-height: 570px;
    overflow-y: auto;
    padding: 10px;
}

