.audio-bar-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: row;
}

.audio-bar-song-info {
    border: 2px solid blue;
    color: white;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex:1;
    z-index: 1000;
    background-color: black;
}


.rhap_container {
    border: 2px solid green;
    background-color: #000000;
    box-sizing: border-box;
    flex:3;
}

.rhap_time {
    color: #B3B2B2;
}

.rhap_progress-bar {
    background-color: #4D4C4C
}

.rhap_progress-indicator {
    background-color: none;
}

.rhap_repeat-button {
    color: #B3B2B2;
}

.rhap_main-controls-button {
    color: #FFFFFF;
}

.rhap_forward-button,
.rhap_rewind-button {
    color: #B3B2B2
}

.rhap_volume-button {
    color: #B3B2B2;
}

.rhap_volume-bar {
    background-color: #FFFFFF
}

.rhap_volume-indicator {
    background-color: #FFFFFF;
}
