#modal {
  /* border: 2px solid blue; */
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  /* border: 2px solid blue; */
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  /* border: 2px solid blue; */
  position: absolute;
  background-color:white;
  height: 650px;
  width: 450px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}