.side-bar-container {
    /* border: 2px solid blue; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8rem 1.8fr;
    gap: 0px 0px;
    overflow: auto;
    scrollbar-width: none;
    padding-left: 12px;
}

.home-button-container {
    /* border: 1px solid green; */
    background-color: #121212;
    margin-top: 8px;
    width: 465ßpx;
    border-radius: 5px;
    height: 125px;
}
.home-text-container p {
    color: white;
    margin-left: 5px;
}

.home-button-top {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.home-button-bottom {
    /* border: 2px solid green; */
}

.home-icon-container {
    /* border: 2px solid green; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5px;
    margin-right: 20px;
}

.home-button-top {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-right: 25px;
}

.home-icon {
    /* border: 2px solid blue; */
    height: 75px;
    width: 75px;
}

.home-button-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.home-button-bottom button {
    background-color: transparent;
    border: none;
    color: white;
    transition: 200ms color ease-in;
    cursor: pointer;
    /* font-weight: bold; */
    font-size: 14px;
}

.search-icon-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    /* border: 2px solid blue; */
}
.search-icon {
    /* border: 2px solid green; */
    height: 55px;
    width: 55px;
}
.playlist-albums-container {
    /* border: 2px solid green; */
    margin-top: 16px;
    background-color: #121212;
}
.library-create-playlist-container {
}

.library-create-upper {
    /* border: 2px solid red; */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background-color: #121212;
    padding: 10px;
}

.create-playlist h2,
.albums-container h2,
.library-create-upper h2 {
    color: #A7A7A7
}

.library-create-lower {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #121212;
    padding: 10px;
}

.library-create-lower button {
    padding: 10px;
    border-radius: 20px;
    color: grey;
    background-color: #232323;
    border: none;
    margin-right: 15px;
    transition: 200ms color ease-in;
    cursor: pointer
}

.library-create-lower button:hover {
    color: white
}

.create-playlist-button {
    border: 2px solid red;
    background-color: black;
    border: none;
    margin-right: 10px;
    background-color: #121212;
    padding: 15px;
    cursor: pointer;
}

.create-playlist-button img {
    transition: 200ms color ease-in;
    color: #EAEAEA
}

.create-playlist-button:hover img{
    filter: brightness(22.5);
}

.create-playlist {
    /* border: 2px solid red; */
    background-color: #121212;
    padding: 10px;
}

.albums-container {
    /* border: 2px solid purple; */
    background-color: #121212;
    padding: 10px;
}

.playlist-list-container {
    /* border: 2px solid green; */
    background-color: #121212;
}

.create-albums-button-container {
    /* border: 2px solid green; */
    background-color: #121212;
    padding: 10px;
}

.dropdown-menu {
    background-color: #282828;
    padding: 10px;
    position: fixed;
    margin-left: 300px;
    margin-top: 80px;
    /* border: 2px solid red; */
}

.dropdown-menu button {
    color: #EAEAEA;
    background-color: #282828;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 200ms color ease-in;
    cursor: pointer;
}

.dropdown-menu button:hover {
    /* border: 2px solid blue; */
    color: white
}
