body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.create-playlist-container {
    /* border: 2px red solid; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin: 0;
    padding: 0;
}

.create-playlist-form-container {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

#audio {
    /* border: 2px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}