/* .playlist-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #1a1a1a;
}

.individual-playlist {
    border: 2px solid black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.link-no-underline {
    text-decoration: none;
    color: white
} */